body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #333;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

select, button {
    padding: 10px;
    font-size: 16px;    
}

button {
    cursor: pointer;
}

#generatePhrase {
    font-size: 18px;
    margin-top: 20px;
    color: #007bff;
}